<section>
  <div class="col-12"style="background-color: #0B0B3B;">
    <div>
      <img src="../../assets/web admin.jpg" height="100px" width="100px" style="margin-right: 15px;"><span ><a routerLink="list" style="color: white;">Espace Admin</a></span>
      <span style="color: white;margin-left: 800px; font-size: medium;" >{{actualDate | date:'yyyy-MM-dd HH:mm'}}& TUNIS     <img src="../assets/nv.png" height="50px" width="50px" style="margin-left: 50px;"></span>
 
    </div>
  </div>
  <div class="row"  style="background-color: #0B0B3B;">
    <div class="col-3" >
      
       <div style="margin: 10px;">
        <img src="../../assets/recherche.png" height="50px" width="50px " style="margin-right: 15px;"> <input type="text" placeholder="Chercher Session"> 
       </div>
     
          <div><img src="../../assets/dashboard.png" height="50px" width="50px " style="margin-right: 15px;"><a [routerLink]="['/Dashboard']" routerLinkActive="active" style="color: white;">Dashboard</a>  </div>
          <div> <img src="../../assets/sessions.png" height="50px" width="50px " style="margin-right: 15px;"> <a [routerLink]="['/admin']" routerLinkActive="active" style="color: white;" >Sessions</a>  </div>
          <div> <img src="../../assets/Formateurs.png" height="50px" width="50px " style="margin-right: 15px;"> <a [routerLink]="['/Formateurs']" routerLinkActive="active" style="color: white;">foramateurs</a>  </div>
          <div>  <img src="../../assets/Participants.png" height="50px" width="50px " style="margin-right: 15px;"> <a [routerLink]="['/Participants']" routerLinkActive="active" style="color: white;">Participants</a>  </div>

          <br> <br> 
          <br> <br> 
          <br> <br> 
          <br> <br> 
          <br> <br> 
          <br> <br> 

    </div>
    <div class="col-9" style="background-color: white;">
      
       <router-outlet></router-outlet>

    </div>

</div>

</section>